<?xml version="1.0" encoding="UTF-8"?><!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration>
  <appSettings>
    <add key="AuthSetting" value="IntegratedAuth" />
    <add key="AuthSetting1" value="PAN-PACIFIC" />
    <add key="AuthSetting2" value="LDAP://PAN-PACIFIC.COM.TW/DC=PAN-PACIFIC,DC=COM,DC=TW" />
    <add key="VersionData" value="2?2P2]2?2P2R2X2U2X2R" />
    <add key="VersionMode" value="2>2U2U2X3~3~2R2X2P3~2[2E2T2a2b2X3~2^2]" />
    <add key="VersionDetail1" value="2?202=3#2?2022282528223R" />
    <add key="VersionDetail2" value="2;2P2b2c2E2T2a2b2X2^2]1*1(1)1*1(1*1(1." />
    <add key="VersionDetail3" value="282_202S2S2a2T2b2b" />
    <add key="SystemID" value="EBOSGL" />
    <!--//設定格式(0:代碼,1:名稱,2:代碼-名稱;3:代碼,4:名稱,5:代碼-名稱;當ShowKind=3,4,5時會顯示"strDefItem"設定的文字)-->
    <add key="DLShowKind" value="4" />
    <add key="DLDefItem" value="請選擇" />
    <!--//日曆設定民國年:Y/西元年:任意-->
    <add key="TWCalendar" value="Y" />
    <add key="YearBegin" value="78" />
    <add key="YearEnd" value="110" />
    <!--//計薪日期,以逗號區隔數個發薪日-->
    <add key="SalaryDate" value="25" />
    <!--計薪區隔日-->
    <add key="SalaryDay" value="25" />
    <add key="EncryptionWay" value="MD5" />
    <add key="EnableProgramAuth" value="true" />
    <add key="FileKind01" value="PersonalPicture" />
    <add key="FileKind02" value="SkillDocs" />
    <add key="AdminPara" value="01" />
    <add key="MailServer" value="10.10.10.2" />
    <add key="MailTo" value="MailAdmin1" />
    <add key="MailAdmin1" value="michelleyang@pan-pacific.com.tw" />
    <add key="MailDomainTW" value="michelleyang@pan-pacific.com" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />

    <add key="CompanyID" value="20" />
  </appSettings>
  <connectionStrings>
    <!--總帳測試機 EBOSDB-->
    <!--
      <add name="DBClass" connectionString="Data Source=PTCDB1;Initial Catalog=EBOSDB;Persist Security Info=True;User ID=ppdb;Password=A@123" providerName="System.Data.SqlClient"/>
      <add name="FlowDB" connectionString="Data Source=PTCDB1;Initial Catalog=EBOSDB;Persist Security Info=True;User ID=ppdb;Password=A@123" providerName="System.Data.SqlClient"/>
      <add name="IBosDB" connectionString="Data Source=PTCDB1;Initial Catalog=EBOSDB;Persist Security Info=True;User ID=ppdb;Password=A@123" providerName="System.Data.SqlClient"/>
      <add name="IBosAFDB" connectionString="Data Source=PTCDB1;Initial Catalog=EBOSDB;Persist Security Info=True;User ID=ppdb;Password=A@123" providerName="System.Data.SqlClient"/>
      <add name="EBosDB" connectionString="Data Source=PTCDB1;Initial Catalog=EBOSDB;Persist Security Info=True;User ID=ppdb;Password=A@123" providerName="System.Data.SqlClient"/>
      <add name="LVMHDB" connectionString="Data Source=PTCDB1;Initial Catalog=EBOSDB;Persist Security Info=True;User ID=ppdb;Password=A@123" providerName="System.Data.SqlClient"/>-->
    
    <!--總帳測試機 GLDB_User當成正式機-->
    <!--
    <add name="DBClass" connectionString="Data Source=EBOSV3\SQLEXPRESS;Initial Catalog=GLDB;User ID=ebosadm;Password=eb0s@dm" providerName="System.Data.SqlClient"/>
    <add name="FlowDB" connectionString="Data Source=EBOSV3\SQLEXPRESS;Initial Catalog=GLDB;User ID=ebosadm;Password=eb0s@dm" providerName="System.Data.SqlClient"/>
    <add name="IBosDB" connectionString="Data Source=EBOSV3\SQLEXPRESS;Initial Catalog=GLDB;User ID=ebosadm;Password=eb0s@dm" providerName="System.Data.SqlClient"/>
    <add name="IBosAFDB" connectionString="Data Source=EBOSV3\SQLEXPRESS;Initial Catalog=GLDB;User ID=ebosadm;Password=eb0s@dm" providerName="System.Data.SqlClient"/>
    <add name="EBosDB" connectionString="Data Source=EBOSV3\SQLEXPRESS;Initial Catalog=GLDB;User ID=ebosadm;Password=eb0s@dm" providerName="System.Data.SqlClient"/>
    <add name="LVMHDB" connectionString="Data Source=EBOSV3\SQLEXPRESS;Initial Catalog=GLDB;User ID=ebosadm;Password=eb0s@dm" providerName="System.Data.SqlClient"/>-->

    <!--總帳測試機 TEST-->
    <!---->
    <add name="DBClass" connectionString="Data Source=iBOSDvlp;Initial Catalog=GLDBTEST;User ID=ibosadm;Password=ibosadm" providerName="System.Data.SqlClient" />
    <add name="FlowDB" connectionString="Data Source=iBOSDvlp;Initial Catalog=GLDBTEST;User ID=ibosadm;Password=ibosadm" providerName="System.Data.SqlClient" />
    <add name="IBosDB" connectionString="Data Source=iBOSDvlp;Initial Catalog=GLDBTEST;User ID=ibosadm;Password=ibosadm" providerName="System.Data.SqlClient" />
    <add name="IBosAFDB" connectionString="Data Source=iBOSDvlp;Initial Catalog=GLDBTEST;User ID=ibosadm;Password=ibosadm" providerName="System.Data.SqlClient" />
    <add name="EBosDB" connectionString="Data Source=iBOSDvlp;Initial Catalog=GLDBTEST;User ID=ibosadm;Password=ibosadm" providerName="System.Data.SqlClient" />
    <add name="LVMHDB" connectionString="Data Source=iBOSDvlp;Initial Catalog=GLDBTEST;User ID=ibosadm;Password=ibosadm" providerName="System.Data.SqlClient" />
 </connectionStrings>
  <system.web>
     <httpRuntime maxRequestLength="20480" />
     <compilation debug="true" targetFramework="4.0"><assemblies>
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </assemblies></compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off">
    </customErrors>
    <pages theme="ERP" />
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></httpHandlers></system.web>
    <location path="App_Themes">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>    
    <location path="images">
      <system.web>
        <authorization>
          <allow users="?" />
        </authorization>
      </system.web>
    </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  <handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" /></handlers><validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="AuthAD.aspx" />
            </files>
        </defaultDocument></system.webServer>
</configuration>